@mixin zoomin {
    *:hover {
        font-size: 30px;
    }
}

.main-about-me {
    // height: 12em;
    background-image: linear-gradient(#c8c8cc, #f3f6f6);
    display: flex;
    justify-content: center;
    padding: 200px;
}

.section_title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #007bff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
}

.section_content {
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    max-width: 400px;
    @include zoomin;
    p {
        margin-top: 0;
        margin-bottom: 25px;
    }
}

@media all and (max-width: 500px) {
    .main-about-me {
        display: block;
        padding: 20px;
    }
    .section_title {
        display: block;
    }
    .section_content {
        display: block;
        font-size: 1rem;
        p {
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }
}