.mail-to-me {
    // background-image: url("/pictures/email-5-512.png");
    // background-repeat: no-repeat;
    a,
    h1,
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 2em;
        color: #04cccc;
    }
}