@import "style_education.scss";
@import "style_portfolio.scss";
@import "contact_me.scss";
@import "about_me.scss";
$textColor:#b4b4b4;
$backgroundColor:#ffffff;
$fontfamily:'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
* {
    margin: 0;
    padding: 0;
}

@mixin header {
    background: $backgroundColor;
    display: flex;
    display: block;
    padding: 3em;
}

.header {
    @include header;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

@mixin navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    // background: deepskyblue;
    background: $backgroundColor;
}

.navigation {
    @include navigation;
    a {
        text-decoration: none;
        display: block;
        padding: 0.5em;
        color: $textColor;
        &:hover {
            background: #c8c8cc;
            color: #ffffff;
        }
    }
    .active {
        background-color: #b4b4b6;
        color: #ffffff;
    }
}

.main-landingpage {
    height: 38em;
    background-image: linear-gradient(#c8c8cc, #f3f6f6);
    display: flex;
}

.main-landingpage>* {
    padding: 10px;
    display: block;
}

.wrap-content {
    margin: 10em 10em 0 40em;
}

.text-div {
    // flex-grow: ;
    border: rgba(243, 223, 113, 0.555) solid;
    width: 60%;
}

.inner-upper-text-div {
    font-size: 2em;
    text-align: left;
    font-family: $fontfamily;
    padding-bottom: 10px;
}

.inner-upper-text-div>p {
    margin-bottom: 1px;
}

.inner-middle-text-div>p {
    margin-bottom: 1px;
    padding-bottom: 10px;
}

.aboutMe-btn {
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #000000;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    .main-landingpage {
        flex: 3 0px;
    }
    // .text-div {
    //     order: 1;
    //}
}

.inner-middle-text-div {
    font-style: italic;
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

//--------------------------------------------------------------